.navbar
{
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border: 2px solid gray;
}

.navbar a,img
{
    padding: 10px 20px;
    text-decoration: none;
}

.options
{
    display: flex;
}

.link1 :hover
{
    background-color: blue;
    color: white;
}
.link2 :hover
{
    background-color: blue;
    color: white;
}